html {
  font-family: sans-serif;
  font-size: 16px;
}

body {
  width: 100vw;
  height: 100vh;
  margin: 0;
}

.wrapper {
  width: 80%;
  margin: 0 auto;
}

.form-wrapper {
  width: 40%;
}

.card {
  width: 18rem;
  margin-right: 0.5rem;
  margin-left: 0.5rem;
}

.hide {
  display: none;
}
